.choose {
    cursor: url('../../assets/cursor/v-v-small-paw-new.png') 50 50, auto;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fded00;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &__head-container{
        width: 47vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background-color:white;
        box-shadow: 5px 3px 5px rgba($color: #e2e2e2, $alpha: 0.7);
    }
    &__primary-head{
        color: #fded00;
        font-size: 110px;
        font-weight: bolder;
        margin: 30px 0 0 40px;
        padding: 0;
        line-height: 100px;
    }
    &__secondary-head{
        color: #fded00;
        margin: 0 0 0 40px;
        font-size: 50px;
        font-weight: normal;
        padding: 0;
    }
    &__instruction-container{
        border: 3px solid #fded00;
        margin: 30px 0 0 40px;
        height: fit-content;
        padding: 20px 15px 25px 0;
        width: 350px;
    }
    &__instruction{
        color: #fded00;
        padding: 0 0 20px 40px;
        font-size: 35px;
        font-weight: bolder;
        margin: 0;
    }
    &__pointers{
        padding: 0 0 10px 40px;
        font-size: 30px;
        font-weight: bolder;
        color: #fded00;
        margin: 0;
    }
    &__paw-img{
        width: 25px;
        height: 20px;
        margin-right: 5px;
    }
    &__part{
        width: 60vw;
    }
}