@import '../../partials/mixins';
.choose {
    @include cursor;
    margin: 0;
    padding: 1rem;
    height: fit-content;
    background-color: #7cd7ee;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__head-container{
        padding: 3rem;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        //padding: 0;
        background-color:rgba(255, 255, 255, 0.24);
        //box-shadow: 5px 3px 5px rgba($color: #e2e2e2, $alpha: 0.7);
        @media(min-width: 600px){
            padding: 7rem;
            width: 90%;
            margin: 0 auto;
            margin-top: 4rem;
        }
        @media(min-width: 768px){
            padding: 7rem;
            width: 90%;
            margin: 0 auto;
            margin-top: 4rem;
        }
    }
    &__primary-head{
        text-align: center;
        color:white;
        text-shadow: 2.5px 2.5px #a3a3a3;
        font-size: 9rem;
        font-weight: bolder;
        padding: 0;
        margin: 2rem;
        line-height: 9rem;
        @media(min-width: 600px){
            font-size: 14rem;
            line-height: 13rem;
            margin: 0;
        }
        @media(min-width: 768px){
            font-size: 18rem;
            line-height: 18rem;
        }
        @media(width: 320px) and (height:533px){
            font-size: 8rem;
            line-height: 8rem;
        }
        @media(width: 320px) and (height:480px){
            font-size: 8rem;
        }
        @media(width: 320px) and (height:568px){
            font-size: 8rem;
        }
        @media(width: 280px) and (height:653px){
            font-size: 7rem;
            line-height: 7rem;
        }
    }
    &__secondary-head{
        color:white;
        text-shadow: 1px 1px #a3a3a3;
        font-size: 50px;
        font-weight: normal;
        padding: 0;
        margin: 0 0 2rem 0;
        text-align: center;
        line-height: 5rem;
        @media(min-width: 600px){
            font-size: 8rem;
            line-height: 8rem;
            margin: 3rem 0 6rem 0;
        }
        @media(min-width: 768px){
            font-size: 9rem;
            line-height: 9rem;
            margin: 3rem 0 6rem 0;
        }
    }
    &__instruction-container{
        border: rgba(255, 255, 255, 0.411);
        border-radius: 4px;
        border-style: ridge;
        height: fit-content;
        width: 85vw;
        @media(min-width: 600px){
            width: 70vw;
            border: 8px rgba(255, 255, 255, 0.411) ridge;
            border-radius: 12px;
            padding: 3rem;
        }
        @media(min-width: 768px){
            width: 70vw;
            border: 8px rgba(255, 255, 255, 0.411) ridge;
            border-radius: 12px;
        }
        @media(width: 320px) and (height:533px){
            padding: 2rem 0;
        }
    }
    &__instruction{
        color:white;
        // text-shadow: 3px 3px #a3a3a3;
        padding: 0 0 20px 40px;
        font-size: 35px;
        font-weight: normal;
        margin: 0;
        @media(min-width: 600px){
            font-size: 6rem;
            text-align: center;
            padding-left: 0;
        }
        @media(min-width: 768px){
            font-size: 6rem;
            text-align: center;
            padding-left: 0;
        }
    }
    &__pointers{
        padding: 0 0 10px 40px;
        font-size: 30px;
        font-weight: normal;
        color:white;
        // text-shadow: 3px 3px #a3a3a3;
        margin: 0;
        @media(min-width: 600px){
            //font-size: 4.5rem;
            padding: 2.5rem 0 2.5rem 2.5rem;
            letter-spacing: .2rem;
        }
        @media(min-width: 768px){
            font-size: 4.5rem;
            padding: 2.5rem;
            letter-spacing: .2rem;
        }
        @media(width: 320px) and (height:533px){
            font-size: 2.5rem;
            padding: 1rem 1rem;
            letter-spacing: .1rem;
        }
    }
    &__paw-img{
        width: 25px;
        height: 20px;
        margin-right: 5px;
    }
    &__part{
        width: 60vw;
    }
    &__back {
        background-color: rgba(180, 245, 128, 0.37);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.466);
        border-radius: 6px;
        border: transparent;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.466);
        font-size: 6vw;
        margin-top: 3vw;
        width: 85vw;
        height: 12vw;
        font-weight: bold;
        outline: none;
        &:active{
            transform: translate(1px, 1px);
        }
        @media (width: 800px) {
            width: 70vw;
            font-size: 5vw;
        }
        @media (width: 600px) {
            width: 70vw;
            font-size: 5vw;
        }
        @media (width: 768px) {
            width: 70vw;
            font-size: 5vw;
        }
        @media (width: 1024px) {
            width: 70vw;
            font-size: 5vw;
        }
    }
}