@mixin add-animation {
    @keyframes Appear {
        0%, 100% {
            opacity: 0.5;
            transform: translateY(0);
        }
        50% {
            opacity: 1;
            transform: translateY(4px);
        }
    }
    @keyframes Appears {
        0%, 100% {
            opacity: 1;
            transform: translateY(0);
        }
        50% {
            opacity: 0.5;
            transform: translateY(4px);
        }
    }
}