@import '../../partials/home-buttons/clickme';
@import '../../partials/media-points';
@import '../../partials/mixins';
@import '../../partials/typography';
.click {
    letter-spacing: 8px;
    @include cursor;
    counter-reset: rainbow;
    position: absolute;
    left: calc((100vw - 150px) / 2);
    top: 10vh;
    list-style: none;
    padding: 0;
    &__layer {
        color: #fff;
        position: absolute;
        -moz-animation-iteration-count: rainbow; 
        @include click-me;
        -webkit-animation: rainbow 1.5s ease-in-out infinite;
        @include rainbow;
        &--white {
            @include white;
        }
        &--red {
            @include red;
        }
        &--orange {
            @include orange;
        }
        &--yellow {
            @include yellow;
        }
        &--green {
            @include green;
        }
        &--blue {
            @include blue;
        }
        &--violet {
            @include violet;
        }
    }
}