@import '../../partials/clickme';
@import '../../partials/media-points';
.click {
    counter-reset: rainbow;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    &__layer {
        color: #fff;
        position: absolute;
        top: 0;
        -moz-animation-iteration-count: rainbow; 
        @include click-me;
        @include tablet {
            @include click-me-big;
        }
        -webkit-animation: rainbow 1.5s ease-in-out infinite;
        @include rainbow;
        &--white {
            @include white;
        }
        &--red {
            @include red;
        }
        &--orange {
            @include orange;
        }
        &--yellow {
            @include yellow;
        }
        &--green {
            @include green;
        }
        &--blue {
            @include blue;
        }
        &--violet {
            @include violet;
        }
        
    }
}