.about{
    width: 100vw;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7cd7ee;
    &__title{
        color: orange;
        text-shadow: 1px 1px black;
        font-size: 4vh;
    }
    &__card{
        margin: 20vh 0;
        background-color: rgba(0, 0, 0, 0.137);
        width: 90vw;
        height: fit-content;
        border-radius: 15px;
        padding: 0;
        box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        @media (min-width: 640px) and (min-height: 360px) {
            width: 50vw;
        }
        @media (width: 533px) and (height: 320px) {
            width: 50vw;
        }
        @media (width: 568px) and (height: 320px) {
            width: 50vw;
        }
        @media (width: 480px) and (height: 320px) {
            width: 50vw;
        }
        @media (width: 653px) and (height: 280px) {
            width: 50vw;
        }
        @media (width: 800px) and (height: 1280px) {
            width: 90vw;
        }
        @media (width: 768px) and (height: 1024px) {
            width: 90vw;
        }
    }
    &__text {
        color: greenyellow;
        text-align: center;
        font-size: 3vh;
        font-weight: bolder;
        margin: 5vw;
    }
}