@import '../partials/home/home';
@import '../partials/media-points';
@import '../partials/mixins';
@import '../partials/typography';
@import '../partials/home/home-animation';

.container{
    position: relative;
    overflow: hidden;
    @include cursor;
    @include flex-center;
    @include full-scale;
    @include main-bg;
    @include desktop {
        @include main-bg-big;
    }
    @media(width: 800px) and (height:1280px){
        background-position: right;
    }
    &__bg-image-wrapper {
        @include barn-bg;
        transition: 0.4s;
        transform-origin: center;
    }
    &__btn{
        @include cursor;
        font-weight: bolder;
        font-family: 'Happy';
        outline: none;
        width: fit-content;
        height: fit-content;
        background: none;
        border: none;
    }
    &__tractor-path{
        @include tractor-path;
        //ipad portrait
        @media(min-width: 1024px) and (min-height: 768px) {
            bottom: 24vh;
        }
        //surface duo landscape
        @media(min-width: 720px) and (min-height: 540px) {
            bottom: 24vh;
        }
        //galaxy fold landscape
        @media(width: 653px) and (height: 280px) {
            bottom: 35vh;
        }
        //Iphone X landscape
        @media(width: 812px) and (height: 375px) {
            bottom: 40vh;
        }
    }
    &__tractor{
        width: 18vw;
        animation: x-motion 10s ease-in-out infinite;
        position: absolute;
        right: 0;
        z-index: -10;
    }
    &__bunny-pop{
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 20vh;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
    }
    &__bunny{
        @include bunny;
    }
}

@include keyframing;