@import '../partials/home';
@import '../partials/media-points';
@import '../partials/mixins';

.container{
    position: relative;
    overflow: hidden;
    @include cursor;
    @include flex-center;
    @include full-scale;
    @include main-bg;
    @include tablet {
        @include main-bg-big;
    }
    &__bg-image-wrapper {
        @include lookout-tower-bg;
        transition: 0.4s;
        transform-origin: bottom;
    }
    &__game{
        @include cursor;
        display: flex;
        align-items: flex-start;
        z-index: 1;
        position: relative;
        margin-top: 10px;
        padding: 0.7px;
        font-weight: bold;
        outline: none;
        &--zoom{
            width: 200px;
            height: fit-content;
            font-size: 30px;
            background: none;
            box-shadow: none;
            border: none;
            &:hover{
                background: none;
                box-shadow: none;
            }
            &::before{
                box-shadow: none;
            }
        }
    }
    &__link {
        text-decoration: none;
    }
}