@mixin main-bg-big {
  background-image: url('../../assets/mainImages/sky-scenery.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

@mixin main-bg {
  background-image: url('../../assets/mainImages/sky-scenery.png');
  background-position-x: right;
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

@mixin barn-bg {
  position: absolute;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  z-index: 20;
}

@mixin tractor-path {
  position: absolute;
  width: 180vw;
  right: -10vw;
  height: 20vw;
  background-color: transparent;
  bottom: 27vh;
  transform: rotate(-1deg);
  overflow: hidden;
  z-index: 10;
}

@mixin bunny {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &--berry{
    background-image: url('../../assets/pups/bunny-berry.png');
    animation: move 6s infinite linear;
  }
  &--flippy{
    height: 120%;
    background-image: url('../../assets/pups/bunny-flippy.png');
    animation: flippyMove 6s infinite linear;
  }
  &--naut {
    background-image: url('../../assets/pups/bunny-naut.png');
    animation: nautMove 6.5s infinite linear;
  }
  &--venger{
    background-image: url('../../assets/pups/bunny-venger.png');
    animation: nautMove 7s infinite linear;
  }
  &--toughy{
    background-image: url('../../assets/pups/bunny-toughy.png');
    animation: toughyMove 6s infinite linear;
  }
  &--muse{
    background-image: url('../../assets/pups/bunny-muse-opposite.png');
    animation: flippyMove 6s infinite linear;
  }
}