.hunt {
    position: absolute;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/mainImages/map-bg.jpg);
    background-repeat: no-repeat;
    //background-position: center;
    background-position: center;
    background-size: 130%;
    &__bg{
        position: absolute;
    z-index: -4;
        background-image: url(../../../assets/mainImages/map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    &__back-container{
        width: 40vw;
        position: absolute;
        left: 0;
        top: 0;
        //display: flex;
        margin-top: 2.5vw;
    }
    &__back{
        background: transparent;
        border: transparent;
        color: orange;
        text-shadow: 1px 1px black;
        font-size: 2.5vh;
        width: 30vw;
        padding: 0;
        outline: none;
        @media (min-width: 640px) and (min-height: 360px) {
            font-size: 2.5vw;
        }
        @media (width: 533px) and (height: 320px) {
            font-size: 2.5vw;
        }
        @media (width: 568px) and (height: 320px) {
            font-size: 2.5vw;
        }
        @media (width: 480px) and (height: 320px) {
            font-size: 2.5vw;
        }
        @media (width: 653px) and (height: 280px) {
            font-size: 2.5vw;
        }
        @media (width: 800px) and (height: 1280px) {
            font-size: 2.5vh;
        }
        @media (width: 768px) and (height: 1024px) {
            font-size: 2.5vh;
        }
        &--correct{
            animation: hide 0.5s ease-in forwards .1s;
            @keyframes hide {
                0% {
                    
                    display: block;
                }
                100% {
                    opacity: 0;
                    display: none;
                }
            }
        }
    }
    &__back-pic{
        width: 3.5vh;
        margin-left: -3.5vw;
        margin-bottom: -1vh;
        @media (min-width: 640px) and (min-height: 360px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 533px) and (height: 320px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 568px) and (height: 320px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 480px) and (height: 320px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 653px) and (height: 280px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 800px) and (height: 1280px) {
            width: 3.5vh;
            margin-left: -3.5vw;
            margin-bottom: -1vh;
        }
        @media (width: 768px) and (height: 1024px) {
            width: 3.5vh;
            margin-left: -3.5vw;
            margin-bottom: -1vh;
        }
    }
    &__pic{
        width: 10vw;
        position: absolute;
        z-index: 0;
        transition: 2s;
        top: 72vh;
        left: 15vw;
            animation: MoveFrontBack 2s linear infinite;
            @keyframes MoveFrontBack {
            0%, 100% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(-55px);
            }
            }
        &--score{
            position: absolute;
            width: 15vw;
            top: 53vh;
            left: 20vw;
            transition: 2s;
            animation: Spin 10s;
            @keyframes Spin {
            0%, 100% {
                transform: rotate(0);
            }
            50% {
                transform: rotate(720deg);
            }
            }

        }
    }
    // &__contains{
    //     width: 100vw;
    //     height: 75vh;
    // }
    &__answer-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__score-section p{
        color: greenyellow;
        text-align: center;
        font-size: 55px;
        font-weight: bolder;
    }
    &__card{
        background-color: rgba(0, 0, 0, 0.137);
        width: 90vw;
        min-height: 75vh;
        height: min-content;
        border-radius: 15px;
        padding: 0;
        box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        @media (min-width: 640px) and (min-height: 360px) {
            width: 50vw;
        }
        @media (width: 533px) and (height: 320px) {
            width: 50vw;
        }
        @media (width: 568px) and (height: 320px) {
            width: 50vw;
        }
        @media (width: 480px) and (height: 320px) {
            width: 50vw;
        }
        @media (width: 653px) and (height: 280px) {
            width: 50vw;
        }
        @media (width: 800px) and (height: 1280px) {
            width: 90vw;
        }
        @media (width: 768px) and (height: 1024px) {
            width: 90vw;
        }
    }
    &__score-section {
        display: flex;
        font-size: 7.5%;
        align-items: center;
    }
    &__question-section {
        font-weight: bolder;
        color: orange;
        text-shadow: 1px 1px black;
        font-size: 4vh;
        width: 100%;
        position: relative;
        // width: 85vw;
        height: 20vh;
        padding: 3vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //text-align: right;
        //margin-top: -40px;
    }
    &__question-count {
        text-align: right;
    }
    &__question-count span {
        color: orange;
        text-shadow: 1px 1px black;
        font-size: 4vh;
    }
    &__question-text {
        color: greenyellow;
        text-align: center;
        font-size: 6vh;
        font-weight: bolder;
        //margin-top: 100px;
        //margin-bottom: 2px;
    }
    // &__timer-text {
    //     background: rgb(230, 153, 12);
    //     padding: 15px;
    //     margin-top: 30px;
    //     margin-right: 20px;
    //     border: 5px solid rgb(255, 189, 67);
    //     border-radius: 15px;
    //     text-align: center;
    // }
    &__btn {
        width: 40%;
        font-size: 4vh;
        font-weight: bolder;
        color: #ffffff;
        background-color:rgba(172, 255, 47, 0.52);
        border-radius: 3vh;
        display: flex;
        padding: 8%;
        justify-content: center;
        align-items: center;
        border: 1vh solid #70abcd;
        cursor: pointer;
        margin: 2%;
        &:hover {
            transform: translate(4px, -4px);
            box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.137);
        }
        &:active{
            transform: translate(-4px, 4px);
            box-shadow: none;
        }
        &:focus {
            outline: none;
        
        }
    }
    &__check{
        position: absolute;
        font-size: 20px;
        color: black;
        z-index: 100;
        top: 30vh;
        left: 20vw;
    }
}
// .subtract {
//     &__sea-portion{
//         position: absolute;
//         z-index: -1;
//         width: 455px;
//         left: -2vw;
//         top: 16vh;
//         transform: rotate(-3deg);
//     }
//     &__bubbles{
//         width: 40px;
//         position: absolute;
//         top:40vh;
//         left: 18vw;
//         animation: bubbles 3s ease-in-out infinite;
//         @keyframes bubbles {
//             0%, 100% {
//                 //transform: scale(0);
//                 transform: translateY(0);
//                 width: 4px;
//             }
//             50% {
//                 //transform: scale(1);
//                 transform: translateY(10px);
//                 width: 40px;
//             }
//         }
//     }
//     &__pic{
//         width: 250px;
//         position: absolute;
//         z-index: -2;
//         animation: swim 3s ease-in-out infinite;
//         top: 3vh;
//         @keyframes swim {
//             0%, 100% {
//                 transform: translateY(0);
//                 //transform: translateX(0);
//             }
//             50% {
//                 transform: translateY(20px);
//                 //transform: translateX(10px);
//             }
//         }
//         transition: 2s;
//         &--one{
//             top: 25vh;
//             left: 1vw;
//             //transform: rotate(80deg);
//             transition: 3s;
//         }
//         &--two{
//             top: 20vh;
//             left: 3vw;
//             transition: 3s;
//             transform: rotate(15deg);
//         }
//         &--three{
//             top: 40vh;
//             left: 5vw;
//             transform: rotate(15deg);
//             transition: 3s;
//         }
//         &--four{
//             top: 60vh;
//             left: 20vw;
//             transition: 3s;
//         }
//         &--five{
//             top: 60vh;
//             left: 30vw;
//             transition: 3s;
//         }
//         &--six{
//             top: 65vh;
//             left: 45vw;
//             transition: 3s;
//         }
//         &--seven{
//             top: 45vh;
//             left: 60vw;
//             transition: 3s;
//         }
//         &--eight{
//             top: 30vh;
//             left: 65vw;
//             transition: 3s;
//         }
//         &--nine{
//             top: 50vh;
//             left: 70vw;
//             transition: 3s;
//         }
//         &--ten{
//             top: 58vh;
//             left: 80vw;
//             transition: 3s;
//         }
//         &--score{
//             position: absolute;
//             width: 340px;
//             top: 63vh;
//             left: 80vw;

//         }
//     }
//     &__answer-section {
//         width: 100%;
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         align-items: center;
//     }
//     &__score-section p{
//         color: greenyellow;
//         text-align: center;
//         font-size: 55px;
//         font-weight: bolder;
//     }
//     &__card{
//         background-color: rgba(0, 0, 0, 0.137);
//         width: 750px;
//         min-height: 500px;
//         height: min-content;
//         border-radius: 15px;
//         padding: 20px;
//         box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
//         display: flex;
//         flex-direction: column;
//         justify-content: space-evenly;
//         align-items: center;
//     }
//     &__score-section {
//         display: flex;
//         font-size: 24px;
//         align-items: center;
//     }
//     &__question-section {
//         font-weight: bolder;
//         color: orange;
//         text-shadow: 1px 1px black;
//         font-size: 30px;
//         width: 100%;
//         position: relative;
//         text-align: right;
//         margin-top: -70px;
//     }
//     &__question-count {
//         margin-bottom: 20px;
//     }
//     &__question-count span {
//         color: orange;
//         text-shadow: 1px 1px black;
//         font-size: 30px;
//     }
//     &__question-text {
//         color: greenyellow;
//         text-align: center;
//         font-size: 55px;
//         font-weight: bolder;
//         margin-top: 100px;
//         margin-bottom: 2px;
//     }
//     &__timer-text {
//         background: rgb(230, 153, 12);
//         padding: 15px;
//         margin-top: 20px;
//         margin-right: 20px;
//         border: 5px solid rgb(255, 189, 67);
//         border-radius: 15px;
//         text-align: center;
//     }
//     &__btn {
//         width: 40%;
//         font-size: 35px;
//         font-weight: bolder;
//         color: #ffffff;
//         background-color:rgba(172, 255, 47, 0.52);
//         border-radius: 15px;
//         display: flex;
//         padding: 25px;
//         justify-content: center;
//         align-items: center;
//         border: 5px solid #70abcd;
//         cursor: pointer;
//         margin: 5px;
//         &:hover {
//             transform: translate(4px, -4px);
//             box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.137);
//         }
//         &:active{
//             transform: translate(-4px, 4px);
//             box-shadow: none;
//         }
//         &:focus {
//             outline: none;
        
//         }
//     }
// }
