@import '../../../partials/game/game';
@import '../../../partials/game/answer-pop-up';

.hunt {
    @include game;
    @include answer-pop-up;
    background-image: url(../../../assets/mainImages/map-bg.jpg);
    background-size: 500%;
    &__bg{
        position: absolute;
        z-index: -4;
        background-image: url(../../../assets/mainImages/map.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__pic{
        width: 17vh;
        position: absolute;
        z-index: 0;
        transition: 2s;
        bottom: 0;
        left: 20vh;
            animation: MoveFrontBack 2s linear infinite;
            @keyframes MoveFrontBack {
            0%, 100% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(-5px);
            }
            }
        &--score{
            position: absolute;
            width: 17vh;
            bottom: 0;
            left: 15vh;
            transition: 2s;
        }
    }
    &__box{
        position: absolute;
        z-index: 10;
        left: 0;
        bottom: 0;
        width: 10vh;
    }
}