@import '../../partials/typography';
.creator {
    font-family: Happy-full;
    letter-spacing: 5px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    text-decoration: none;
    border: none;
    outline: none;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.061);
    border-radius: 5%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.109), 2px 2px 2px rgba(0, 0, 0, 0.109), -2px -2px 2px rgba(0, 0, 0, 0.109), -2px -2px 2px rgba(0, 0, 0, 0.109);
    padding: 2vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.109), 2px 2px 2px rgba(0, 0, 0, 0.109), -2px -2px 2px rgba(0, 0, 0, 0.109), -2px -2px 2px rgba(0, 0, 0, 0.109);
    color: rgb(95, 95, 95);
    @media (width: 280px) and (height: 653px) {
        width: 25vw;
        height: 5.5vh;
        padding: 2px;
    }
    &__text{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        font-size:calc(10px + (35 - 10) * (100vw - 280px) / (1440 - 280));
        @media (width: 280px) and (height: 653px) {
            font-size: 10px;
            width: 80%;
        }
    }
}