@import '../../../partials/game/game';
@import '../../../partials/mixins';
.exercise {
    @include cursor;
    @include game;
    background-image: url(../../../assets/mainImages/yoga.png);
    background-position-y: bottom;
    &__pic{
        width: 20vh;
        position: absolute;
        z-index: 0;
        transition: 2s;
        bottom: 5vh;
        left: 10vw;
        &--one{
            animation: MoveFrontBack 2s linear infinite;
            @keyframes MoveFrontBack {
            0%, 100% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(-95px);
            }
            }
        }
        &--two{
            animation: MoveUpDown 1.5s linear infinite;
            @keyframes MoveUpDown {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-95px);
            }
            }
        }
        &--three{
            animation: Shake 1.5s linear infinite;
            @keyframes Shake {
            0%, 100% {
                transform: rotate(-15deg);
            }
            50% {
                transform: rotate(15deg);
            }
            }
        }
        &--four{
            animation: MoveUpDown 1.5s linear infinite;
            @keyframes MoveUpDown {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-95px);
            }
            }
        }
        &--five{
            animation: Squat 1.5s linear infinite;
            @keyframes Squat {
            0%, 100% {
                transform: rotate(0);
            }
            50% {
                transform: rotate(-9deg);
            }
            }
        }
        &--score{
            position: absolute;
            width: 20vh;
            bottom: 5vh;
            left: 10vw;
            transition: 2s;
            animation: Spin 10s;
            @keyframes Spin {
            0%, 100% {
                transform: rotate(0);
            }
            50% {
                transform: rotate(720deg);
            }
            }

        }
    }
}