.subtract {
    position: absolute;
    z-index: -4;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/mainImages/sea.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__sea-portion{
        position: absolute;
        z-index: -1;
        width: 455px;
        left: -2vw;
        top: 16vh;
        transform: rotate(-3deg);
    }
    &__pic{
        width: 300px;
        position: absolute;
        z-index: -2;
        animation: MoveUpDown 3s linear infinite;
        @keyframes MoveUpDown {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-15px);
            }
        }
        transition: 2s;
        &--one{
            top: -1vh;
            left: 1vw;
            transform: rotate(20deg);
            transition: 3s;
        }
        &--two{
            top: 20vh;
            left: 3vw;
            transition: 3s;
            transform: rotate(15deg);
        }
        &--three{
            top: 40vh;
            left: 5vw;
            transform: rotate(15deg);
            transition: 3s;
        }
        &--four{
            top: 60vh;
            left: 20vw;
            transition: 3s;
        }
        &--five{
            top: 60vh;
            left: 30vw;
            transition: 3s;
        }
        &--six{
            top: 65vh;
            left: 45vw;
            transition: 3s;
        }
        &--seven{
            top: 45vh;
            left: 60vw;
            transition: 3s;
        }
        &--eight{
            top: 30vh;
            left: 65vw;
            transition: 3s;
        }
        &--nine{
            top: 50vh;
            left: 70vw;
            transition: 3s;
        }
        &--ten{
            top: 58vh;
            left: 80vw;
            transition: 3s;
        }
        &--score{
            position: absolute;
            width: 340px;
            top: 63vh;
            left: 80vw;

        }
    }
    &__answer-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__score-section p{
        color: greenyellow;
        text-align: center;
        font-size: 55px;
        font-weight: bolder;
    }
    &__card{
        background-color: rgba(0, 0, 0, 0.137);
        width: 750px;
        min-height: 500px;
        height: min-content;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    &__score-section {
        display: flex;
        font-size: 24px;
        align-items: center;
    }
    &__question-section {
        font-weight: bolder;
        color: orange;
        text-shadow: 1px 1px black;
        font-size: 30px;
        width: 100%;
        position: relative;
        text-align: right;
        margin-top: -70px;
    }
    &__question-count {
        margin-bottom: 20px;
    }
    &__question-count span {
        color: orange;
        text-shadow: 1px 1px black;
        font-size: 30px;
    }
    &__question-text {
        color: greenyellow;
        text-align: center;
        font-size: 55px;
        font-weight: bolder;
        margin-top: 100px;
        margin-bottom: 2px;
    }
    &__timer-text {
        background: rgb(230, 153, 12);
        padding: 15px;
        margin-top: 20px;
        margin-right: 20px;
        border: 5px solid rgb(255, 189, 67);
        border-radius: 15px;
        text-align: center;
    }
    &__btn {
        width: 40%;
        font-size: 35px;
        font-weight: bolder;
        color: #ffffff;
        background-color:rgba(172, 255, 47, 0.52);
        border-radius: 15px;
        display: flex;
        padding: 25px;
        justify-content: center;
        align-items: center;
        border: 5px solid #70abcd;
        cursor: pointer;
        margin: 5px;
        &:hover {
            transform: translate(4px, -4px);
            box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.137);
        }
        &:active{
            transform: translate(-4px, 4px);
            box-shadow: none;
        }
        &:focus {
            outline: none;
        
        }
    }
}
