@import '../../../partials/game/game';
@import '../../../partials/game/answer-pop-up';
@import '../../../partials/game/subtract-game/subtract-game-media';
@import '../../../partials/mixins';
.subtract {
    @include cursor;
    @include game;
    @include answer-pop-up;
    background-image: url(../../../assets/mainImages/sea.png);
    &__pic{
        @include bunny-size-start;
        position: absolute;
        z-index: -1;
        transition: 6s;
        animation: Appear 1.2s linear infinite;
            @keyframes Appear {
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(4px);
            }
            }
        &--one{
            @include bunny-size-one;
            top: 0;
            left: 1vw;
        }
        &--two{
            top: 10vh;
            @include left;
        }
        &--three{
            top: 20vh;
            @include right;
        }
        &--four{
            top: 30vh;
            @include left;
        }
        &--five{
            top: 40vh;
            @include right;
        }
        &--six{
            top: 50vh;
            @include left;
        }
        &--seven{
            top: 60vh;
            @include right;
        }
        &--eight{
            top: 70vh;
            @include left;
        }
        &--nine{
            top: 80vh;
            @include right;
        }
        &--ten{
            bottom: 0;
            left: 20vw;
            @include bunny-size-ten;
        }
        &--score{
            position: absolute;
            @include bunny-size-score;
            bottom: 0;
            left: 20vw;
        }
    }
}