.add {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/mainImages/scenery.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -2;
    &__pic{
        width: 110px;
        position: absolute;
        z-index: -1;
        transition: 2s;
        &--one{
            bottom: 2.5px;
            left: 1vw;
            transition: 2s;
            animation: Appear 1.2s linear infinite;
            @keyframes Appear {
            0%, 100% {
                opacity: 0.5;
                transform: translateY(0);
            }
            50% {
                opacity: 1;
                transform: translateY(4px);
            }
            }
        }
        &--ones{
            bottom: 0;
            left: 1vw;
            transition: 2s;
            animation: Appears 1.2s linear infinite;
            @keyframes Appears {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--two{
            bottom: 92.5px;
            left: 6vw;
            transition: 2s;
            animation: Appear 1.2s linear infinite;
            @keyframes Appear {
            0%, 100% {
                opacity: 0.5;
                transform: translateY(0);
            }
            50% {
                opacity: 1;
                transform: translateY(4px);
            }
            }
        }
        &--twos{
            bottom: 90px;
            left: 6vw;
            transition: 2s;
            animation: Appears 1.2s linear infinite;
            @keyframes Appears {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--three{
            bottom: 182.5px;
            left: 1vw;
            transition: 2s;
            animation: Appear 1.2s linear infinite;
            @keyframes Appear {
            0%, 100% {
                opacity: 0.5;
                transform: translateY(0);
            }
            50% {
                opacity: 1;
                transform: translateY(4px);
            }
            }
        }
        &--threes{
            bottom: 180px;
            left: 1vw;
            transition: 2s;
            animation: Appears 1.2s linear infinite;
            @keyframes Appears {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--four{
            bottom: 272.5px;
            left: 6vw;
            transition: 2s;
            animation: Appear 1.2s linear infinite;
            @keyframes Appear {
            0%, 100% {
                opacity: 0.5;
                transform: translateY(0);
            }
            50% {
                opacity: 1;
                transform: translateY(4px);
            }
            }
        }
        &--fours{
            bottom: 270px;
            left: 6vw;
            transition: 2s;
            animation: Appears 1.2s linear infinite;
            @keyframes Appears {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--five{
            bottom: 362.5px;
            left: 12vw;
            transition: 2s;
            animation: Appear 1.2s linear infinite;
            @keyframes Appear {
            0%, 100% {
                opacity: 0.5;
                transform: translateY(0);
            }
            50% {
                opacity: 1;
                transform: translateY(4px);
            }
            }
        }
        &--fives{
            bottom: 360px;
            left: 12vw;
            transition: 2s;
            animation: Appears 1.2s linear infinite;
            @keyframes Appears {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--six{
            bottom: 362.5px;
            left: 12vw;
            left: 60vw;
            
            animation: Tilt 1.2s linear infinite;
            @keyframes Tilt {
                0%, 100% {
                    opacity: 0.5;
                    transform: translateY(0);
                    transform: rotate(45deg);
                }
                50% {
                    opacity: 1;
                    transform: translateY(4px);
                    transform: rotate(45deg);
                }
            }
            transition: 4s;
        }
        &--sixes{
            bottom: 360px;
            left: 60vw;
            
            animation: Tilts 1.2s linear infinite;
            @keyframes Tilts {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                    transform: rotate(45deg);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                    transform: rotate(45deg);
                }
            }
            transition: 4s;
        }
        &--seven{
            bottom: 452.5px;
            left: 12vw;
            left: 60vw;
            
            animation: Seven 1.2s linear infinite;
            @keyframes Seven {
                0%, 100% {
                    opacity: 0.5;
                    transform: translateY(0);
                    transform: rotate(-45deg);
                }
                50% {
                    opacity: 1;
                    transform: translateY(4px);
                    transform: rotate(-45deg);
                }
            }
            transition: 4s;
        }
        &--sevens{
            bottom: 450px;
            left: 60vw;
            
            animation: Sevens 1.2s linear infinite;
            @keyframes Sevens {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                    transform: rotate(-45deg);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                    transform: rotate(-45deg);
                }
            }
            transition: 4s;
        }
        &--eight{
            top: 40vh;
            left: 75vw;
            transform: rotate(10deg);
            transition: 1s;
        }
        &--nine{
            top: 57vh;
            left: 80vw;
            transform: rotate(-10deg);
            transition: 2s;
        }
        &--ten{
            top: 58vh;
            left: 80vw;
            transition: 3s;
        }
        &--score{
            position: absolute;
            width: 200px;
            top: 63vh;
            left: 80vw;

        }
    }
    &__answer-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__score-section p{
        color: greenyellow;
        text-align: center;
        font-size: 55px;
        font-weight: bolder;
    }
    &__card{
        background-color: rgba(0, 0, 0, 0.137);
        width: 90vw;
        min-height: 500px;
        height: min-content;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    &__score-section {
        display: flex;
        font-size: 24px;
        align-items: center;
    }
    &__question-section {
        font-weight: bolder;
        color: orange;
        text-shadow: 1px 1px black;
        font-size: 30px;
        width: 100%;
        position: relative;
        text-align: right;
        margin-top: -40px;
    }
    &__question-count {
        margin-bottom: 10px;
    }
    &__question-count span {
        color: orange;
        text-shadow: 1px 1px black;
        font-size: 30px;
    }
    &__question-text {
        color: greenyellow;
        text-align: center;
        font-size: 38px;
        font-weight: bolder;
        margin-top: 100px;
        margin-bottom: 2px;
    }
    &__timer-text {
        background: rgb(230, 153, 12);
        padding: 15px;
        margin-top: 30px;
        margin-right: 20px;
        border: 5px solid rgb(255, 189, 67);
        border-radius: 15px;
        text-align: center;
    }
    &__btn {
        width: 40%;
        font-size: 35px;
        font-weight: bolder;
        color: #ffffff;
        background-color:rgba(172, 255, 47, 0.52);
        border-radius: 15px;
        display: flex;
        padding: 25px;
        justify-content: center;
        align-items: center;
        border: 5px solid #70abcd;
        cursor: pointer;
        margin: 5px;
        &:hover {
            transform: translate(4px, -4px);
            box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.137);
        }
        &:active{
            transform: translate(-4px, 4px);
            box-shadow: none;
        }
        &:focus {
            outline: none;
        
        }
    }
}