.add {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/mainImages/scenery.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -2;
    &__back-container{
        width: 40vw;
        position: absolute;
        left: 0;
        top: 0;
        //display: flex;
        margin-top: 2.5vw;
    }
    &__back{
        background: transparent;
        border: transparent;
        color: orange;
        text-shadow: 1px 1px black;
        font-size: 2.5vh;
        width: 30vw;
        padding: 0;
        @media (min-width: 640px) and (min-height: 360px) {
            font-size: 2.5vw;
        }
        @media (width: 533px) and (height: 320px) {
            font-size: 2.5vw;
        }
        @media (width: 568px) and (height: 320px) {
            font-size: 2.5vw;
        }
        @media (width: 480px) and (height: 320px) {
            font-size: 2.5vw;
        }
        @media (width: 653px) and (height: 280px) {
            font-size: 2.5vw;
        }
        @media (width: 800px) and (height: 1280px) {
            font-size: 2.5vh;
        }
        @media (width: 768px) and (height: 1024px) {
            font-size: 2.5vh;
        }
        &--correct{
            animation: hide 0.5s ease-in forwards .1s;
            @keyframes hide {
                0% {
                    opacity: 1;
                    display: block;
                }
                100% {
                    opacity: 0;
                    display: none;
                }
            }
        }
    }
    &__back-pic{
        width: 3.5vh;
        margin-left: -3.5vw;
        margin-bottom: -1vh;
        @media (min-width: 640px) and (min-height: 360px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 533px) and (height: 320px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 568px) and (height: 320px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 480px) and (height: 320px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 653px) and (height: 280px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 800px) and (height: 1280px) {
            width: 3.5vh;
            margin-left: -3.5vw;
            margin-bottom: -1vh;
        }
        @media (width: 768px) and (height: 1024px) {
            width: 3.5vh;
            margin-left: -3.5vw;
            margin-bottom: -1vh;
        }
    }
    &__pic{
        width: 35vw;
        @media (min-width: 640px) and (min-height: 360px) {
            width: 15vw;
        }
        @media (width: 533px) and (height: 320px) {
            width: 15vw;
        }
        @media (width: 568px) and (height: 320px) {
            width: 15vw;
        }
        @media (width: 480px) and (height: 320px) {
            width: 15vw;
        }
        @media (width: 653px) and (height: 280px) {
            width: 15vw;
        }
        @media (width: 800px) and (height: 1280px) {
            width: 35vw;
        }
        @media (width: 768px) and (height: 1024px) {
            width: 35vw;
        }
        position: absolute;
        z-index: -1;
        transition: 2s;
        &--one{
            width: 25vw;
            @media (min-width: 640px) and (min-height: 360px) {
                width: 10vw;
            }
            @media (width: 533px) and (height: 320px) {
                width: 10vw;
            }
            @media (width: 568px) and (height: 320px) {
                width: 10vw;
            }
            @media (width: 480px) and (height: 320px) {
                width: 10vw;
            }
            @media (width: 653px) and (height: 280px) {
                width: 10vw;
            }
            @media (width: 800px) and (height: 1280px) {
                width: 25vw;
            }
            @media (width: 768px) and (height: 1024px) {
                width: 25vw;
            }
            bottom: 0;
            left: 1vw;
            transition: 6s;
            animation: Appear 1.2s linear infinite;
            @keyframes Appear {
            0%, 100% {
                opacity: 0.5;
                transform: translateY(0);
            }
            50% {
                opacity: 1;
                transform: translateY(4px);
            }
            }
        }
        &--ones{
            width: 25vw;
            @media (min-width: 640px) and (min-height: 360px) {
                width: 10vw;
            }
            @media (width: 533px) and (height: 320px) {
                width: 10vw;
            }
            @media (width: 568px) and (height: 320px) {
                width: 10vw;
            }
            @media (width: 480px) and (height: 320px) {
                width: 10vw;
            }
            @media (width: 653px) and (height: 280px) {
                width: 10vw;
            }
            @media (width: 800px) and (height: 1280px) {
                width: 25vw;
            }
            @media (width: 768px) and (height: 1024px) {
                width: 25vw;
            }
            bottom: 0;
            left: 1vw;
            transition: 6s;
            animation: Appears 1.2s linear infinite;
            @keyframes Appears {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--two{
            bottom: 10vh;
            left: 60vw;
            @media (min-width: 640px) and (min-height: 360px) {
                left: 80vw;
            }
            @media (width: 533px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 568px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 480px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 653px) and (height: 280px) {
                left: 80vw;
            }
            @media (width: 800px) and (height: 1280px) {
                left: 60vw;
            }
            @media (width: 768px) and (height: 1024px) {
                left: 60vw;
            }
            transition: 6s;
            animation: Appear 1.2s linear infinite;
            @keyframes Appear {
            0%, 100% {
                opacity: 0.5;
                transform: translateY(0);
            }
            50% {
                opacity: 1;
                transform: translateY(4px);
            }
            }
        }
        &--twos{
            bottom: 10vh;
            left: 60vw;
            @media (min-width: 640px) and (min-height: 360px) {
                left: 80vw;
            }
            @media (width: 533px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 568px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 480px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 653px) and (height: 280px) {
                left: 80vw;
            }
            @media (width: 800px) and (height: 1280px) {
                left: 60vw;
            }
            @media (width: 768px) and (height: 1024px) {
                left: 60vw;
            }
            transition: 6s;
            animation: Appears 1.2s linear infinite;
            @keyframes Appears {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--three{
            bottom: 20vh;
            left: 5vw;
            transition: 6s;
            animation: Appear 1.2s linear infinite;
            @keyframes Appear {
            0%, 100% {
                opacity: 0.5;
                transform: translateY(0);
            }
            50% {
                opacity: 1;
                transform: translateY(4px);
            }
            }
        }
        &--threes{
            bottom: 20vh;
            left: 5vw;
            transition: 6s;
            animation: Appears 1.2s linear infinite;
            @keyframes Appears {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--four{
            bottom: 30vh;
            left: 60vw;
            @media (min-width: 640px) and (min-height: 360px) {
                left: 80vw;
            }
            @media (width: 533px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 568px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 480px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 653px) and (height: 280px) {
                left: 80vw;
            }
            @media (width: 800px) and (height: 1280px) {
                left: 60vw;
            }
            @media (width: 768px) and (height: 1024px) {
                left: 60vw;
            }
            transition: 6s;
            animation: Appear 1.2s linear infinite;
            @keyframes Appear {
            0%, 100% {
                opacity: 0.5;
                transform: translateY(0);
            }
            50% {
                opacity: 1;
                transform: translateY(4px);
            }
            }
        }
        &--fours{
            bottom: 30vh;
            left: 60vw;
            @media (min-width: 640px) and (min-height: 360px) {
                left: 80vw;
            }
            @media (width: 533px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 568px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 480px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 653px) and (height: 280px) {
                left: 80vw;
            }
            @media (width: 800px) and (height: 1280px) {
                left: 60vw;
            }
            @media (width: 768px) and (height: 1024px) {
                left: 60vw;
            }
            transition: 6s;
            animation: Appears 1.2s linear infinite;
            @keyframes Appears {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--five{
            bottom: 40vh;
            left: 5vw;
            transition: 6s;
            animation: Appear 1.2s linear infinite;
            @keyframes Appear {
            0%, 100% {
                opacity: 0.5;
                transform: translateY(0);
            }
            50% {
                opacity: 1;
                transform: translateY(4px);
            }
            }
        }
        &--fives{
            bottom: 40vh;
            left: 5vw;
            transition: 6s;
            animation: Appears 1.2s linear infinite;
            @keyframes Appears {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--six{
            bottom: 50vh;
            left: 60vw;
            @media (min-width: 640px) and (min-height: 360px) {
                left: 80vw;
            }
            @media (width: 533px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 568px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 480px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 653px) and (height: 280px) {
                left: 80vw;
            }
            @media (width: 800px) and (height: 1280px) {
                left: 60vw;
            }
            @media (width: 768px) and (height: 1024px) {
                left: 60vw;
            }
            transition: 6s;
            animation: Tilt 1.2s linear infinite;
            @keyframes Tilt {
                0%, 100% {
                    opacity: 0.5;
                    transform: translateY(0);
                }
                50% {
                    opacity: 1;
                    transform: translateY(4px);
                }
            }
        }
        &--sixes{
            bottom: 50vh;
            left: 60vw;
            @media (min-width: 640px) and (min-height: 360px) {
                left: 80vw;
            }
            @media (width: 533px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 568px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 480px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 653px) and (height: 280px) {
                left: 80vw;
            }
            @media (width: 800px) and (height: 1280px) {
                left: 60vw;
            }
            @media (width: 768px) and (height: 1024px) {
                left: 60vw;
            }
            transition: 6s;
            animation: Tilts 1.2s linear infinite;
            @keyframes Tilts {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--seven{
            bottom: 60vh;
            left: 5vw;
            transition: 6s;
            animation: Seven 1.2s linear infinite;
            @keyframes Seven {
                0%, 100% {
                    opacity: 0.5;
                    transform: translateY(0);
                }
                50% {
                    opacity: 1;
                    transform: translateY(4px);
                }
            }
        }
        &--sevens{
            bottom: 60vh;
            left: 5vw;
            transition: 6s;
            animation: Sevens 1.2s linear infinite;
            @keyframes Sevens {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--eight{
            bottom: 70vh;
            left: 60vw;
            @media (min-width: 640px) and (min-height: 360px) {
                left: 80vw;
            }
            @media (width: 533px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 568px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 480px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 653px) and (height: 280px) {
                left: 80vw;
            }
            @media (width: 800px) and (height: 1280px) {
                left: 60vw;
            }
            @media (width: 768px) and (height: 1024px) {
                left: 60vw;
            }
            transition: 6s;
            animation: Eight 1.2s linear infinite;
            @keyframes Eight {
                0%, 100% {
                    opacity: 0.5;
                    transform: translateY(0);
                }
                50% {
                    opacity: 1;
                    transform: translateY(4px);
                }
            }
        }
        &--eights{
            bottom: 70vh;
            left: 60vw;
            @media (min-width: 640px) and (min-height: 360px) {
                left: 80vw;
            }
            @media (width: 533px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 568px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 480px) and (height: 320px) {
                left: 80vw;
            }
            @media (width: 653px) and (height: 280px) {
                left: 80vw;
            }
            @media (width: 800px) and (height: 1280px) {
                left: 60vw;
            }
            @media (width: 768px) and (height: 1024px) {
                left: 60vw;
            }
            transition: 6s;
            animation: Eights 1.2s linear infinite;
            @keyframes Eights {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--nine{
            bottom: 80vh;
            left: 5vw;
            transition: 6s;
            animation: Nine 1.2s linear infinite;
            @keyframes Nine {
                0%, 100% {
                    opacity: 0.5;
                    transform: translateY(0);
                }
                50% {
                    opacity: 1;
                    transform: translateY(4px);
                }
            }
        }
        &--nines{
            bottom: 80vh;
            left: 5vw;
            transition: 6s;
            animation: Nines 1.2s linear infinite;
            @keyframes Nines {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--ten{
            bottom: 0vh;
            left: 20vw;
            transition: 6s;
            animation: Ten 1.2s linear infinite;
            @keyframes Ten {
                0%, 100% {
                    opacity: 0.5;
                    transform: translateY(0);
                }
                50% {
                    opacity: 1;
                    transform: translateY(4px);
                }
            }
        }
        &--tens{
            bottom: 0;
            left: 20vw;
            transition: 6s;
            animation: Tens 1.2s linear infinite;
            @keyframes Tens {
                0%, 100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                50% {
                    opacity: 0.5;
                    transform: translateY(4px);
                }
            }
        }
        &--score{
            position: absolute;
            width: 30vw;
            @media (min-width: 640px) and (min-height: 360px) {
                width: 10vw;
            }
            @media (width: 533px) and (height: 320px) {
                width: 10vw;
            }
            @media (width: 568px) and (height: 320px) {
                width: 10vw;
            }
            @media (width: 480px) and (height: 320px) {
                width: 10vw;
            }
            @media (width: 653px) and (height: 280px) {
                width: 10vw;
            }
            @media (width: 800px) and (height: 1280px) {
                width: 30vw;
            }
            @media (width: 768px) and (height: 1024px) {
                width: 30vw;
            }
            bottom: 0;
            left: 20vw;

        }
    }
    // &__contains{
    //     width: 100vw;
    //     height: 75vh;
    // }
    &__answer-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__score-section p{
        color: greenyellow;
        text-align: center;
        font-size: 55px;
        font-weight: bolder;
    }
    &__card{
        background-color: rgba(0, 0, 0, 0.137);
        width: 90vw;
        min-height: 75vh;
        height: min-content;
        border-radius: 15px;
        padding: 0;
        box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        @media (min-width: 640px) and (min-height: 360px) {
            width: 50vw;
        }
        @media (width: 533px) and (height: 320px) {
            width: 50vw;
        }
        @media (width: 568px) and (height: 320px) {
            width: 50vw;
        }
        @media (width: 480px) and (height: 320px) {
            width: 50vw;
        }
        @media (width: 653px) and (height: 280px) {
            width: 50vw;
        }
        @media (width: 800px) and (height: 1280px) {
            width: 90vw;
        }
        @media (width: 768px) and (height: 1024px) {
            width: 90vw;
        }
    }
    &__score-section {
        display: flex;
        font-size: 7.5%;
        align-items: center;
    }
    &__question-section {
        font-weight: bolder;
        color: orange;
        text-shadow: 1px 1px black;
        font-size: 4vh;
        width: 100%;
        position: relative;
        // width: 85vw;
        height: 20vh;
        padding: 3vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //text-align: right;
        //margin-top: -40px;
    }
    &__question-count {
        text-align: right;
    }
    &__question-count span {
        color: orange;
        text-shadow: 1px 1px black;
        font-size: 4vh;
    }
    &__question-text {
        color: greenyellow;
        text-align: center;
        font-size: 6vh;
        font-weight: bolder;
        //margin-top: 100px;
        //margin-bottom: 2px;
    }
    // &__timer-text {
    //     background: rgb(230, 153, 12);
    //     padding: 15px;
    //     margin-top: 30px;
    //     margin-right: 20px;
    //     border: 5px solid rgb(255, 189, 67);
    //     border-radius: 15px;
    //     text-align: center;
    // }
    &__btn {
        width: 40%;
        font-size: 4vh;
        font-weight: bolder;
        color: #ffffff;
        background-color:rgba(172, 255, 47, 0.52);
        border-radius: 3vh;
        display: flex;
        padding: 8%;
        justify-content: center;
        align-items: center;
        border: 1vh solid #70abcd;
        cursor: pointer;
        margin: 2%;
        &:hover {
            transform: translate(4px, -4px);
            box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.137);
        }
        &:active{
            transform: translate(-4px, 4px);
            box-shadow: none;
        }
        &:focus {
            outline: none;
        
        }
    }
    &__check{
        position: absolute;
        font-size: 20px;
        color: black;
        z-index: 100;
        top: 30vh;
        left: 20vw;
    }
}