@import '../../../partials/game/game';
@import '../../../partials/game/answer-pop-up';
@import '../../../partials/game/add-game/add-game-media';
@import '../../../partials/game/add-game/animation';
.add {
    @include game;
    @include answer-pop-up;
    background-image: url(../../../assets/mainImages/scenery.jpg);
    &__pic{
        @include bunny-size-start;
        position: absolute;
        z-index: -1;
        transition: 2s;
        &--one{
            @include bunny-size-one;
            bottom: 0;
            left: 1vw;
            transition: 6s;
            animation: Appear 1.2s linear infinite;
        }
        &--ones{
            @include bunny-size-one;
            bottom: 0;
            left: 1vw;
            transition: 6s;
            animation: Appears 1.2s linear infinite;
        }
        &--two{
            bottom: 10vh;
            animation: Appear 1.2s linear infinite;
            @include left;
        }
        &--twos{
            bottom: 10vh;
            @include left;
            animation: Appears 1.2s linear infinite;
        }
        &--three{
            bottom: 20vh;
            @include right;
            animation: Appear 1.2s linear infinite;
        }
        &--threes{
            bottom: 20vh;
            @include right;
            animation: Appears 1.2s linear infinite;
        }
        &--four{
            bottom: 30vh;
            @include left;
            animation: Appear 1.2s linear infinite;
        }
        &--fours{
            bottom: 30vh;
            @include left;
            animation: Appears 1.2s linear infinite;
        }
        &--five{
            bottom: 40vh;
            @include right;
            animation: Appear 1.2s linear infinite;
        }
        &--fives{
            bottom: 40vh;
            @include right;
            animation: Appears 1.2s linear infinite;
        }
        &--six{
            bottom: 50vh;
            @include left;
            animation: Appear 1.2s linear infinite;
        }
        &--sixes{
            bottom: 50vh;
            @include left;
            animation: Appears 1.2s linear infinite;
        }
        &--seven{
            bottom: 60vh;
            @include right;
            animation: Appear 1.2s linear infinite;
        }
        &--sevens{
            bottom: 60vh;
            @include right;
            animation: Appears 1.2s linear infinite;
        }
        &--eight{
            bottom: 70vh;
            @include left;
            animation: Appear 1.2s linear infinite;
        }
        &--eights{
            bottom: 70vh;
            @include left;
            animation: Appears 1.2s linear infinite;
        }
        &--nine{
            bottom: 80vh;
            @include right;
            animation: Appear 1.2s linear infinite;
        }
        &--nines{
            bottom: 80vh;
            @include right;
            animation: Appears 1.2s linear infinite;
        }
        &--ten{
            bottom: 0vh;
            left: 20vw;
            transition: 6s;
            animation: Appear 1.2s linear infinite;
        }
        &--tens{
            bottom: 0;
            left: 20vw;
            transition: 6s;
            animation: Appears 1.2s linear infinite;
        }
        &--score{
            position: absolute;
            @include bunny-size-score;
            bottom: 0;
            left: 20vw;

        }
    }
}
@include add-animation;