.contact{
    &__card{
        padding: 2vw;
        margin: 10vh 0;
        background-color: rgb(108, 212, 226);
        width: 90vw;
        height: 80vh;
        border-radius: 15px;
        box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    &__label{
        color: white;
        text-align: center;
        font-size: 4.5vh;
        font-family: Happy;
        letter-spacing: 3px;
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 70vw;
        &--name{
            margin-left: 1.7vw;
        }
        &--message{
            margin-right: .7vw;
        }
    }
    &__main {
        color: white;
        text-align: center;
        font-size: 3.5vh;
        font-weight: normal;
        background: none;
        border: 1px solid  white;
        padding: 0;
        width: 80%;
        height: 10vh;
        outline: none;
        text-decoration: none;
        border-radius: 5px;
        overflow: scroll;
        resize: none;
        &::placeholder{
            color: white;
            text-align: center;
            font-size: 3.5vh;
            font-weight: normal;
        }
    }
    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        box-shadow: -2px -2px 8px #437581;
        border-radius: 3px;
        width: 20vw;
        height: 10vh;
        margin: 1vw;
        background: transparent;
        border: none;
        color: white;
        text-align: center;
        font-size: 3.5vh;
        font-family: Happy;
        letter-spacing: 3px;
    }
}