@import '../../../partials/game/game';
@import '../../../partials/game/answer-pop-up';
@import '../../../partials/game/subtract-game/subtract-game-media';
@import '../../../partials/mixins';

.space {
    @include game;
    @include answer-pop-up;
    cursor: url('../../../assets/cursor/bunny-paw-white.png') 20 20, auto;
    background-image: url(../../../assets/mainImages/milkyway-bg.png);
    background-size: cover;
    &__bg{
        position: absolute;
        z-index: -4;
        background-image: url(../../../assets/mainImages/milkyway-planets.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 100%;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__back-container{
        width: 40vw;
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 2.5vw;
    }
    &__back{
        cursor: url('../../../assets/cursor/bunny-paw-white.png') 20 20, auto;
        background: transparent;
        border: transparent;
        color: orange;
        text-shadow: 1px 1px black;
        font-size: 2.5vh;
        width: 30vw;
        padding: 0;
        outline: none;
        @media (min-width: 640px) and (min-height: 360px) {
            font-size: 2.5vw;
        }
        @media (width: 533px) and (height: 320px) {
            font-size: 2.5vw;
        }
        @media (width: 568px) and (height: 320px) {
            font-size: 2.5vw;
        }
        @media (width: 480px) and (height: 320px) {
            font-size: 2.5vw;
        }
        @media (width: 653px) and (height: 280px) {
            font-size: 2.5vw;
        }
        @media (width: 800px) and (height: 1280px) {
            font-size: 2.5vh;
        }
        @media (width: 768px) and (height: 1024px) {
            font-size: 2.5vh;
        }
    }
    &__back-pic{
        cursor: url('../../../assets/cursor/bunny-paw-white.png') 20 20, auto;
        width: 3.5vh;
        margin-left: -3.5vw;
        margin-bottom: -1vh;
        @media (min-width: 640px) and (min-height: 360px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 533px) and (height: 320px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 568px) and (height: 320px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 480px) and (height: 320px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 653px) and (height: 280px) {
            width: 3.5vw;
            margin-left: -3.5vh;
            margin-bottom: -1vw;
        }
        @media (width: 800px) and (height: 1280px) {
            width: 3.5vh;
            margin-left: -3.5vw;
            margin-bottom: -1vh;
        }
        @media (width: 768px) and (height: 1024px) {
            width: 3.5vh;
            margin-left: -3.5vw;
            margin-bottom: -1vh;
        }
    }
    &__pic{
        width: 20vh;
        position: absolute;
        z-index: -1;
        transition: 6s;
        &--one{
            bottom: 0;
            left: 1vw;
            transition: 6s;
        }
        &--two{
            bottom: 5vh;
            @include left;
            transition: 6s;
        }
        &--three{
            bottom: 10vh;
            left: 5vw;
            transition: 6s;
        }
        &--four{
            bottom: 15vh;
            @include left;
            transition: 6s;
        }
        &--five{
            bottom: 20vh;
            @include right;
        }
        &--six{
            bottom: 25vh;
            @include left;
            transition: 6s;
        }
        &--seven{
            bottom: 30vh;
            @include right;
        }
        &--eight{
            bottom: 35vh;
            @include left;
            transition: 6s;
        }
        &--nine{
            @include right;
            bottom: 40vh;
        }
        &--ten{
            bottom: 67vh;
            left: 45vw;
        }
        &--score{
            position: absolute;
            bottom: 67vh;
            left: 45vw;
            width: 20vh;
        }
    }
    &__card{
        background-color: rgba(255, 255, 255, 0.129);
        box-shadow: 10px 10px 42px 0px rgba(253, 253, 253, 0.75);
    }
    &__btn{
        cursor: url('../../../assets/cursor/bunny-paw-white.png') 20 20, auto;
    }
}