@import './variables';

@mixin click-me {
    font-size: 2.5rem;
    text-shadow: -.02rem -.02rem 0 #000,.02rem -.02rem 0 #000, -.02rem .02rem 0 #000, .02rem .02rem 0 #000, .4rem .4rem 0 rgba(0, 0, 0, .2);
}

@mixin click-me-big {
    font-size: 3rem;
    text-shadow: -.02rem -.02rem 0 #000,.02rem -.02rem 0 #000, -.02rem .02rem 0 #000, .02rem .02rem 0 #000, .4rem .4rem 0 rgba(0, 0, 0, .2);
}

@mixin white {
    -webkit-animation-delay: 0.05s;
    left: 0.1rem;
    z-index: -10;
}

@mixin red {
    -webkit-animation-delay: 0.1s;
    left: 2px;
    z-index: -20;
    color:red
}

@mixin orange {
    -webkit-animation-delay: 0.15s;
    left: 3px;
    z-index: -30;
    color:orange;
}

@mixin yellow {
    -webkit-animation-delay: 0.20s;
    left: 4px;
    z-index: -40;
    color: yellow;
}

@mixin green {
    -webkit-animation-delay: 0.25s;
    left: 5px;
    z-index: -50;
    color: greenyellow;
}

@mixin blue {
    -webkit-animation-delay: 0.3s;
    left: 6px;
    z-index: -60;
    color:blue;
}

@mixin violet {
    -webkit-animation-delay: 0.35s;
    left: 7px;
    z-index: -70;
    color:  rgb(196, 64, 248);
}

@mixin rainbow {
    @keyframes rainbow {
        0%, 100% {
            transform: translateY(0.5rem);
        }
        50% {
            transform: translateY(-0.5rem);
        }
    }
}