@mixin left-door-position {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: -1.875vw;
    left: -5.5vw;
    // @media (min-width: 321px) {
    //     top: -2.05vw;
    //     left: -2.5vw;
    // }
    // @media (min-width: 322px) {
    //     top: -2.5vw;
    // }
    // @media (min-width: 323px) {
    //     top: -2.4vw;
    // }
    // @media (min-width: 327px) {
    //     left: -2.4vw;
    // }
    // @media (min-width: 329px) {
    //     left: -2.3vw;
    // }
    // @media (min-width: 342px) {
    //     top: -2.238vw;
    // }
    transition: left 1s ease;
}

@mixin left-door-size {
    width: 51.5px;
    height: 77.5px;
    position: relative;
    z-index: 2;
    @media (min-width: 321px) {
        height: 80.5px;
        width: 53.5px;
    }
    @media (min-width: 322px) {
        height: 80.5px;
        width: 53.5px;
    }
    @media (min-width: 323px) {
        height: 80.5px;
        width: 54px;
    }
    @media (min-width: 335px) {
        width: 55px;
    }
}
@mixin right-door-position {
    width: fit-content;
    height: fit-content;
    position: relative;
    top: -0.8125vw;
    left: -11.5vw;
    transition: left 1s ease;
    // @media (min-width: 321px) {
    //     left: 7.5vw;
    // }
    // @media (min-width: 322px) {
    //     top: -1.05vw;
    //     left: 7.9vw;
    // }
    // @media (min-width: 323px) {
    //     top: -1.05vw;
    //     left: 8.1vw;
    // }
    // @media (min-width: 324px) {
    //     top: -1.05vw;
    //     left: 8vw;
    // }
    // @media (min-width: 330px) {
    //     left: 8vw;
    // }
}
@mixin right-door-size {
    width: 50.5px;
    height: 76.5px;
    position: relative;
    z-index: 2;
    // @media (min-width: 321px) {
    //     width: 55.5px;
    // }
    // @media (min-width: 322px) {
    //     width: 52px;
    // }
    // @media (min-width: 323px) {
    //     width: 52.5px;
    // }
    // @media (min-width: 330px) {
    //     width: 53.5px;
    // }
}



@mixin wrapper {
    // margin-top: 545%;
    // margin-left: 126%;
    // @media (min-width: 322px) {
    //     margin-top: 169.9vw;
    // }
    // @media (min-width: 323px) {
    //     margin-top: 169.5vw;
    //     margin-left: 39.3vw;
    //     width: 78px;
    // }
    // @media (min-width: 324px) {
    //     margin-top: 169vw;
    //     margin-left: 39.3vw;
    //     width: 77px;
    // }
    // @media (min-width: 326px) {
    //     margin-top: 168.8vw;
    // }
    // @media (min-width: 327px) {
    //     margin-top: 168.4vw;
    //     margin-left: 39.29vw;
    // }
    // @media (min-width: 329px) {
    //     margin-top: 167.8vw;
    //     height: 71px;
    // }
    // @media (min-width: 330px) {
    //     margin-top: 167.2vw;
    //     margin-left: 39.4vw;
    //     width: 78px;
    // }
    // @media (min-width: 331px) {
    //     margin-top: 166.9vw;
    // }
    // @media (min-width: 332px) {
    //     margin-top: 166.2vw;
    // }
    // @media (min-width: 333px) {
    //     margin-top: 165.9vw;
    // }
    // @media (min-width: 334px) {
    //     margin-top: 165.4vw;
    // }
    // @media (min-width: 335px) {
    //     margin-top: 164.7vw;
    // }
    // @media (min-width: 336px) {
    //     margin-top: 164.35vw;
    //     margin-left: 39.5vw;
    // }
    // @media (min-width: 337px) {
    //     margin-top: 163.8vw;
    // }
    // @media (min-width: 338px) {
    //     margin-top: 163.4vw;
    // }
    // @media (min-width: 339px) {
    //     margin-top: 162.8vw;
    // }
    // @media (min-width: 340px) {
    //     margin-left: 39.7vw;
    //     margin-top: 162.3vw;
    // }
    // @media (min-width: 341px) {
    //     margin-top: 162vw;
    // }
    // @media (min-width: 342px) {
    //     margin-top: 161.3vw;
    // }
    // @media (min-width: 343px) {
    //     margin-top: 161vw;
    //     width: 77.5px;
    // }
}