// <<<<<<<< FONT FACE >>>>>>>> \\

// <<<<<<<< REGULAR >>>>>>>> \\

@font-face {
    font-family: 'Happy';
    src: url('../assets/fonts/shaka_pow/Shaka\ Pow\ Upright\ Hollow.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

// // <<<<<<<< SEMI-BOLD >>>>>>>> \\

@font-face {
    font-family: 'Happy-full';
    src: url('../assets/fonts/shaka_pow/Shaka\ Pow\ Upright\ Hollow.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}